@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #1b1b1b;
  font-family: "Ubuntu", monospace;
  overflow: hidden;
}

.title-baner h1 {
  text-align: center;
  color: #ededed;
  margin: 2rem 0;
  font-size: 2rem;
  transition: 0.5s ease;
}

.title-baner hr {
  margin-bottom: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  outline: none;
  border: none;
}
