<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%  static  'css/index.css'  %}" />
    <title>Login Page</title>
  </head>

  <body class="app">
    <div class="title-baner">
      <h1>Student Login Form</h1>
      <hr />
    </div>
    <form action="/loaningBook" method="post">
      <div class="container">
        <div class="input-box">
          <input type="text" name="loaned_name" required />
          <span>Usernme</span>
        </div>
        <div class="input-box">
          <input type="text" name="loaned_password" required />
          <span>password</span>
        </div>
        <div class="input-box">
          <input type="text" name="loaned_book_id" required />
          <span>id</span>
        </div>
        <div class="submit-part">
          <button input type="submit">Loan Book</button>
          <font class="result-form" style="color: red">{{loan_page_msg}}</font>
        </div>
      </div>
    </form>
  </body>
</html>
